<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


 <!--goto maxcdn bootstrap w3schools-->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    
      <div class="navbar-header">

   <h1><%= link_to root_path do%>Bombay-cast<% end %></h1>
</div>

    
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left" role="search">
      </form> 
 <ul class="nav navbar-nav navbar-right">


<% if current_user %>
      <li>= "navbar-text navbar-right">Signed in as<%= link_to current_user.name %></li>
          <li> <%= image_tag(@auth['info']['image'], width: '50', height: '50')%></li>
      <li><%= link_to "Yaas!!!", 'sign_out', method: :delete %></ li>
    <% else %> 
  <li><%= link_to "auth/twitter" do %><%= image_tag('twitter.png', width: '40', height: '40')%> <% end %></li>  
 <% end %>


</div>

    </div>

     </nav>

      <div class="container">

     <%= yield %>

   </div>

</body>
</html>
