<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @home.User %>
</p>

<p>
  <strong>Body:</strong>
  <%= @home.Body %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
