<p id="notice"><%= notice %></p>

<p>
  <strong>Sl no:</strong>
  <%= @controller.sl_no %>
</p>

<p>
  <strong>Text:</strong>
  <%= @controller.text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @controller.description %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @controller.dob %>
</p>

<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
